HELP.md
build/
gradle/
!**/src/main/**
!**/src/test/**
bin/
.settings/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Gradle ###
.gradle
.classpath
.project
AGENTS.md
gradlew
gradlew.bat
opencode.json

### Logs ###
*.log